body {
    background-color : #FDFBD4;
    font-family: Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    text-align: center;
    color: #FF5733;
}
.top-row {
    margin-top: 5vh;
    display: flex;
    height: 10vh;
    weight: 10vw;
    align-items: center;
    padding: 10vw;
}
.image-container {
    display: flex;
    gap: 20px;
    padding: 0px;
}
.bottom-row {
    padding: 10px;
}