body {
    background-color : #FDFBD4;
    font-family: Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
h1 {
    text-align: center;
    color: #FF5733;
}

.top-row {
    padding: 0px;
    justify-content: space-between;
}

.bottom-row {
    padding: 10px;
}
/* SIGMA SIGMA BOY SIGMA BOY */
/* I JUST WANNA PLAY WITH YOU BECAUSE YOURE MY FAVORITE TOY */
.image-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* padding: 20px; */
}
.image-container img {
    width: 250px;
    height: auto;
}