body {
    background-color : #FDFBD4;
    font-family: Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    text-align: center;
    color: #FF5733;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.bottom-row {
    padding: 10px;
}